@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  color: var(--background);
  background: #f5c5bc;
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
}
/* globals.css */
body.scroll-lock {
  overflow: hidden;
}
@font-face {
  font-family: "Kolgar";
  src: url("/fonts/Kolgar.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kolgar", sans-serif;
}

@layer base {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
}
